<div class="container content-body shadow my-3 p-2">
  <h5 class="m-2">Coffee</h5>
  <div class="container content-sub-body">
    <div class="sub-card-base m-2 p-1 shadow">
      <!-- Text Content -->
      <div class="sub-card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title d-flex align-items-center">Card Title</h5>
          <span class="d-flex flex-row">
            <p>veg</p>
            <span class="veg-indicator mx-1 mt-2"></span>
          </span>

          <p class="card-text font-weight-bold">₹100</p>
        </div>
        <div class="d-flex flex-column">
          <span class="badge bg-success p-1 m-2">in-stock</span>
          <button class="btn custom-btn">Add</button>
        </div>
      </div>

      <!-- Image -->
      <img
        src="/beverages/coffee.jpeg"
        alt="Card image cap"
        class="card-img-right"
      />
    </div>
  </div>
</div>
