<div class="content-container">
  <div class="content-sub-body">
    <div class="sub-card-base shadow">
      <!-- Image -->
      <div class="image-container shadow">
        <img src="{{ category.src }}" alt="Card image" class="card-img-right" />
      </div>

      <!-- Text Content -->
      <div class="sub-card-body">
        <div class="card-text-container">
          <h5 class="card-title">{{ category.name | uppercase }}</h5>
          <span class="d-flex align-items-center m-2">
            <span class="rating-badge bg-success">
              <i class="bi bi-star-fill text-white"></i> 4.5
            </span>
            <span class="d-flex flex-row mx-2">
              <p>{{ category.isVeg ? "Veg" : "Non-Veg" }}</p>
              <span
                class="veg-indicator mx-1 mt-2"
                [ngClass]="category.isVeg ? 'bg-success' : 'bg-danger'"
              ></span>
            </span>
          </span>
          <p class="card-text font-weight-bold">₹{{ category.prize }}</p>
          <span>Ingredients</span>
          <p class="description font-weight-bold">
            Lorem ipsum dolor | sit amet consectetur | adipisicing elit | quos
            neque cupiditate | cumque quibusdam optio.
          </p>
          <span>Description</span>
          <p class="description font-weight-bold">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quos,
            neque cupiditate, cumque quibusdam optio necessitatibus inventore
            laborum quasi aliquid ipsam ducimus? Quo debitis nemo libero earum
            consequuntur. Sed, nostrum.
          </p>
        </div>

        <!-- Stock & Button -->
        <div class="card-footer">
          <span
            class="badge"
            [ngClass]="category.inStock ? 'bg-success' : 'bg-danger'"
            >{{ category.inStock ? "In Stock" : "Out of Stock" }}</span
          >
          <button
            class="btn"
            [ngClass]="category.inStock ? 'custom-btn' : 'btn-dark'"
          >
            {{ category.inStock ? "Add" : "Notify" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
