.content-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Occupy full height of app-view-content */
  overflow-y: hidden; /* Enable scrolling if content overflows */
}

.sub-card-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 405px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.image-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}

.card-img-right {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image fills the container */
}

.sub-card-body {
  flex: 1;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-text-container {
  flex: 1;
}

.description {
  font-size: 14px;
  color: gray;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.rating-badge {
  font-size: 0.9rem;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  gap: 3px;
  height: fit-content;
  border-radius: 5px;
  color: white;
}
.veg-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.custom-btn {
  background-color: #461e70 !important;
  border-color: #461e70 !important;
  color: white !important;
  width: 100px;
}
