<!-- Header Section (Includes Scrollable Cards) -->
<div class="container header-card mb-4 d-flex flex-column align-items-center">
  <span class="header-text">Beverages</span>

  <!-- Scrollable Cards Inside Header -->
  <div class="scroll-container" appScroll>
    <div class="card">
      <div class="image-container">
        <img
          class="card-img-top"
          src="/beverages/coffee.jpeg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <p class="card-text">Coffee</p>
      </div>
    </div>
  </div>
</div>
