<!-- Header Section (Includes Scrollable Cards) -->
<div class="container header-card d-flex flex-column align-items-center">
  <span class="header-text">BEVERAGES</span>

  <!-- Scrollable Cards Inside Header -->
  <div class="scroll-container" appScroll>
    <div *ngFor="let list of headerList" class="shadow">
      <div
        class="card"
        [routerLink]="list.headerRoute"
        [queryParams]="{ category: 'coffee' }"
      >
        <div class="image-container">
          <img class="card-img-top" src="{{ list.src }}" alt="Card image cap" />
        </div>
        <div class="card-body">
          <p class="card-text">{{ list.title | uppercase }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
